@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a asp-controller="User" asp-action="Add">Add User</a><br />
    <a asp-controller="Spa" asp-action="Index">Spa Services</a>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
