@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Fancy Spa</h1>
<div id="clientProfile">
    <h3>Client profile</h3>
    <p>@ViewBag.name</p>
</div>
<div id="servicesMenu">

    <h5>Facial Treatments</h5>
    <p>Your @ViewBag.skintype skin type is best suited to the follow facial types:</p>
    @foreach (string facial in ViewBag.appropriateFacials)
    {
    <ul>
        @facial
    </ul>
    }

    <h5>Nail Services</h5>
   @if(ViewBag.manipedi == "manicure" || ViewBag.manipedi == "both")
    {
        <p>Our manicure is a great way to spend 30 minutes of your day! We use shea butter hand cream and the finest gel polish.</p>
    }
    @if (ViewBag.manipedi == "pedicure" || ViewBag.manipedi == "both")
    {
        <p>Relax for 45 minutes in pure luxury! Our massage chairs and experienced nail techs are here to get your feet in shape for sandal season!</p>
    }

</div>
<h5>Available Nail Polish Colors</h5>
<div class="square" style="background: #be6767">   
</div>
<div class="square" style="background: #5d5959">
</div>
<div class="square" style="background: #461111">
</div>
<div class="square" style="background: #ac3e3e">
</div>
<div class="square" style="background: #f8efef">
</div>
<div class="square" style="background: #262289">
</div>
