@using SpaDay.Models;
@model User;
<h1>Welcome @Model.Username to AK Spa!</h1>

<p>
    <a asp-controller="Spa" asp-action="index">Spa Services</a>
</p>

<div>
    <p>Account details of @Model.Username</p>
    <p>User email id: @Model.Email</p>
    <p>Time joined: @Model.TimeJoined</p>
</div>