<h1>Welcome @ViewBag.name to AK Spa!</h1>

<p>
    <a asp-controller="Spa" asp-action="index">Spa Services</a>
</p>

<div>
    <p>Account details of @ViewBag.name</p>
    <p>User email id: @ViewBag.email</p>
    <p>Time joined: @ViewBag.time</p>
</div>